<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>OrderServlet</servlet-name>
        <servlet-class>order.OrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>data.IndexServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShippingServlet</servlet-name>
        <servlet-class>order.ShippingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DatabaseServlet</servlet-name>
        <servlet-class>order.DatabaseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BillingServlet</servlet-name>
        <servlet-class>order.BillingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImageServlet</servlet-name>
        <servlet-class>data.ImageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OrderServlet</servlet-name>
        <url-pattern>/order</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>cart.CartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShippingServlet</servlet-name>
        <url-pattern>/ShippingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DatabaseServlet</servlet-name>
        <url-pattern>/DatabaseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BillingServlet</servlet-name>
        <url-pattern>/BillingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageServlet</servlet-name>
        <url-pattern>/Image</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>
            index
        </welcome-file>
    </welcome-file-list>
</web-app>
